body{
    background: linear-gradient(to right, #111112, #232526);
}

.landing-grid {
    background: #111112;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #111112, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #111112, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

.banner-text {
    width: 75%;
    margin: auto;
}

.banner-text h1 {
    font-size: 7rem;
    font-family: 'Baron Neue';
    color: #00af83;
}
.banner-text h1 i {
    color: #00af83;
    font-size: 100px;
}

.banner-text h4 {
    font-family: 'Baron Neue';
}

.banner-text hr.style-hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

.banner-text hr.style-hr:after {  
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
}

.skills-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.skills-container .skill-title {
    font-family: 'Baron Neue';
    color: #00af83;
    width: 100%;
    text-transform: uppercase;

}

.skills-container .skill-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    box-sizing: border-box;
    flex-basis: 15%;
    min-width: 100px;
}

.skills-container .skill-cards:hover *{
    color: #00af83;
}

.skills-container .skill-cards i {
    font-size: 5em;
    transition: all ease 300ms;
}

.skills-container .skill-cards h3 {
    font-family: 'Baron Neue';
    font-size: 2em;
    margin: auto;
    transition: all ease 300ms;
}

.social-links {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    align-content: center;
    justify-content: space-between;
    margin: auto;
}

.social-links i {
    font-size: 5em;
    color: #00af83;
    transition: all ease 300ms;
}

.social-links i:hover {
    color: rgb(216, 216, 216);
}

@media screen and (max-width: 600px) {
    .banner-text h1 {
        font-size: 2rem;
    }

    .banner-text h4 {
        font-size: 1.5rem;
    }

    .skills-container .skill-cards i {
        font-size: 3em;
    }

    .skills-container .skill-cards h3 {
        font-size: 1.2em;
    }

    .social-links i {
        font-size: 3em;
        color: #00af83;
        transition: all ease 300ms;
    }
}