.toggle-button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.toggle-button:focus {
    outline:none;
}

.toggle-button i {
    font-size: 1.3rem;
    color: rgb(228, 228, 228);
}

.toggle-button i:hover {
    color: #00af83;
}