@import url('https://fonts.googleapis.com/css?family=Exo+2');

footer {
    width: 100%;
    justify-content: center;
    margin: 1rem auto;
    font-family: 'Exo 2',sans-serif;
    text-align: center;
}

.green {
    display: inline;
    color: #00af83;
    font-weight: bold;
    font-size: 1.2rem;
}

@media screen and (max-width: 900px){
    footer p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px){
    footer p {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 400px){
    footer p {
        font-size: 0.6rem;
    }
}