@import url('https://fonts.googleapis.com/css?family=Exo+2');

footer {
    margin: auto;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    font-family: 'Exo 2',sans-serif;
    text-align: center;
}

.green {
    display: inline;
    color: #00af83;
    font-weight: bold;
    font-size: 1.2rem;
}