@font-face {
    font-family: 'Baron Neue';
    font-style: normal;
    font-weight: normal;
    src: local('Baron Neue'), url('Baron Neue.woff') format('woff');
}
    
* {
  margin: 0px;
  padding: 0px;
  color: rgb(216, 216, 216);
  font-family: 'Baron Neue';
  scroll-behavior: smooth;
}

.parent-container {
    height: 100%;
}


body {
    background: #111112;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #111112, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #111112, #232526);
    height: 100%;
}

.blocker {
    display: block;
}

.header-color {
    background: #111112;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #111112, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #111112, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu-toggle {
    display: none;
    margin: 15px;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .menu-toggle {
        display: inline-block;
    }
}