@font-face {
    font-family: 'Baron Neue';
    font-style: normal;
    font-weight: normal;
    src: local('Baron Neue'), url('Baron Neue.woff') format('woff');
}

html, body, #root, #root>div {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: rgb(228, 228, 228);
    scroll-behavior: smooth;
    background: #111112;
    background: -webkit-linear-gradient(90deg,#111112,#232526);
    background: -webkit-linear-gradient(left,#111112,#232526);
    background: linear-gradient(90deg,#111112,#232526);
}


.particles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}