.aboutme-body {
        margin: auto;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding-top: 1rem;
}

.aboutme-body:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background: #00af83;
}

.about-content {
        vertical-align: middle;
        text-align: center;;
        position: relative;
        z-index: 1;
        padding: 2.5rem;
        margin: auto 10rem;
}
.profile{
        margin: auto;
}
.profile img {
        overflow: hidden;
        border-radius: 50%;
        width: 220px;
        height: 220px;
}

.about-content h2 {
        font-size: 3em;
        font-family: 'Baron Neue', sans-serif;
}

.about-content h2 .full-stack {
        display: inline;
        color: #00af83;
}

.styler {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
        margin: 1.7rem 0;
}

.about-content p {
        width: 75%;
        margin: auto;
        padding-top: 1rem;
        font-family: 'Courier New', sans-serif;
        font-size: 1.5em;
}

@media screen and (max-width: 768px) {
        .about-content {
                margin:0;
        }
}