@import url('https://fonts.googleapis.com/css?family=Exo+2');

.aboutme-body {
        height: 100%;
        width: 100%;
        margin: auto;
        display: flex;
        font-family: 'Baron Neue',sans-serif;
        background: #fff;
        color: #0b0b0c;
        align-items: center;
        justify-content: center;
}

.aboutme-body h1 {
        font-size: 4rem;
        color: #0b0b0c;
        padding: 0 0 2rem 0;
        text-align: center;
        position: relative;
}

.aboutme-body h1:after {
        content: '';
        position: absolute;
        width: 80px;
        height: 5px;
        margin-left: -40px;
        left: 50%;
        bottom: 0px;
        background-color: #00af83;
}

.aboutme-body .col-container {
        display: flex;
        flex-flow: row wrap;
        width: 80%;
        align-content: center;
        justify-content: space-evenly;
}

.aboutme-body .col-left, .aboutme-body .col-right {
        width: 100%;
        max-width: 1140px;
        height: 100%;
        min-width: 400px;
        vertical-align: middle;
}

.aboutme-body p {
        font-family: 'Exo 2', sans-serif;
        font-size: 1.5rem;
        font-weight: 100;
        text-align: center;
        padding: 0 3rem;
}

.aboutme-body p .full-stack {
        display: inline;
        color: #00af83;
}

/* SKILLS SECTION */
.skills {
        list-style: none;
        width: 90%;
        margin: auto;
}

.skills h2 {
        font-size: 2rem;
        text-transform: uppercase;
}

.skills li {
        margin: 1rem 0;
}

.bar {
        background: #0b0b0c;
        display: block;
        height: 20px;
        border-radius: 3px;
        overflow: hidden;
}

.bar span {
        height: 20px;
        float: left;
        background: #00af83;
}

.html {
        width: 90%;
}

.css {
        width: 80%;
}

.js {
        width: 75%;
}

.react {
        width: 65%;
}

.node {
        width: 50%;
}

.postgres {
        width: 75%;
}

.express {
        width: 50%;
}

.java {
        width: 30%;
}

.php {
        width: 40%;
}
/* Media Queries */
@media screen and (max-width: 900px){
        .aboutme-body h1 {
                font-size: 3.5rem;
                margin-top: 1.8rem;
        }
        .aboutme-body p {
                font-size: 1.3rem;
                padding: 0;
        }
        .skills {
                margin-bottom: 5rem;
        }
        .skills li {
                margin: 0.9rem 0;
        }
        .aboutme-body .col-left, .aboutme-body .col-right {
                min-width: 340px;
        }
}
    
@media screen and (max-width: 768px){
        .aboutme-body h1 {
                font-size: 2.5rem;
        }
        .aboutme-body p {
                font-size: 1.1rem;
                padding: 0;
        }
        .skills {
                margin-bottom: 4rem;
        }
        .skills li {
                margin: 0.8rem 0;
        }
        .aboutme-body .col-left, .aboutme-body .col-right {
                min-width: 320px;
        }
}
    
@media screen and (max-width: 400px){
        .aboutme-body h1 {
                font-size: 1.5rem;
        }
        .aboutme-body p {
                font-size: 0.9rem;
                padding: 0;
        }
        .skills {
                margin-bottom: 3rem;
        }
        .skills li {
                margin: 0.7rem 0;
        }
        .aboutme-body .col-left, .aboutme-body .col-right {
                min-width: 300px;
        }
}
      